[submodule "apps/harbour-gpsinfo"]
	path = apps/harbour-gpsinfo
	url = https://github.com/direc85/harbour-gpsinfo.git
[submodule "apps/harbour-systemmonitor"]
	path = apps/harbour-systemmonitor
	url = https://github.com/custodian/harbour-systemmonitor.git
[submodule "apps/harbour-bikeme"]
	path = apps/harbour-bikeme
	url = https://github.com/sthocs/harbour-bikeme.git
